<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniuxy.dao.LoginMapper">
	<select id="findById" resultMap="map">
		select * from t_login where t_id=#{id}
	</select>
	<select id="findByName" parameterType="LoginBean" resultMap="map">
		select * from t_login where l_name=#{name}
	</select>
	
	<resultMap type="LoginBean" id="map">
		<id property="id" column="t_id"></id>
		<result property="name" column="l_name" />
		<result property="password" column="l_password" />
		<result property="role" column="l_role" />
	</resultMap> 
</mapper>